@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  scroll-behavior: smooth;
}

.left-50 {
  left: 50%;
}

.right-50 {
  right: 50%;
}

.top-50 {
  top: 50%;
}

.-z-1 {
  z-index: -1;
}

.secondary-title {
  @apply text-3xl font-bold text-gray-800;
}

.secondary-title::before {
  content: "";
  @apply block w-12 h-2 rounded-full mb-1;
}

.nav-dot {
  transition: bg 200ms, border-color 200ms;
}

/* .selected-circle {
  @apply bg-theme border-theme;
} */

.nav-dot:hover span {
  opacity: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "burtons";
  src: url('../public/Burtons.otf');
}

.switch {
  display: block;
  width: 72px;
  padding: 4px;
  border-radius: 22px;
  background: grey;
  border: solid;
}

.handle{
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #dce2e8;
  transition: 0.3s cubic-bezier(0.18, 0.69, 0.35, 1.15)
}
input {
  position: absolute;
  transform: scale(0);
}

input:checked ~ .handle {
  transform: translateX(34px);
}